{% extends "padre.html" %}
{% load static %}

{% block contenido %}

<br>
<figure class="py-5 bg-light border-bottom mb-4">
    <div class="container">
            <h1 class="fw-bolder">Acerca de mí</h1>
    </div>
</figure>




<body>
    
    <div class="container">
        <div class="clearfix">
            <img src="{% static 'AppBlog/assets/me.png' %}" class="float-md-end" alt="yo" height="350px" width="350px" >
            <p class="lead">
                Hola! Mi nombre es Hernán López Pagani, tengo 23 años y estoy empezando en el mundo de la programación. Si bien solo he hecho un curso dedicado a las IT (python) soy una persona muy autodidacta lo cual me ha llevado a formarme en varios ambitos por mi mismo. Y digo varios porque son muy diversos, he estudiado de forma autodidacta photoshop, carpinteria, sony VEGAS, SketchUp 8, herreria, etc. Soy una persona curiosa y con mucha hambre de conocimiento y esto me motiva a cada vez formarme mas y en mas ambitos distintos.
            </p>
            <p class="lead">¡Espero que difruten de la pagina!</p>
        </div>
    </div>
</body>
<br><br>











{% endblock %}